import type { Use{{{ NAME.PASCAL }}}Props, {{{ NAME.PASCAL }}}Props } from '@/{{{ NAME.PASCAL }}}/types';

export const use{{{ NAME.PASCAL }}} = (
  props: Use{{{ NAME.PASCAL }}}Props,
): {{{ NAME.PASCAL }}}Props => {
  return {
    ...props,
  };
};
