import React from 'react';
import { connect } from '@/helpers/connect';

export interface Use{{{ NAME.PASCAL }}}Props {
  children?: React.ReactNode;
  dataTestId?: string;
}

export interface {{{ NAME.PASCAL }}}Props extends Use{{{ NAME.PASCAL }}}Props {
  //
}

export const use{{{ NAME.PASCAL }}} = (
  props: Use{{{ NAME.PASCAL }}}Props,
): {{{ NAME.PASCAL }}}Props => {
  return {
    ...props,
  };
};

export const {{{ NAME.PASCAL }}}UI = ({
  children,
  dataTestId = '{{{ NAME.KEBAB }}}',
}: {{{ NAME.PASCAL }}}Props) => (
  <div data-testid={dataTestId}>
    {children}
  </div>
);

export const {{{ NAME.PASCAL }}} = connect(use{{{ NAME.PASCAL }}}, {{{ NAME.PASCAL }}}UI);
