import type React from 'react';

export interface Use{{{ NAME.PASCAL }}}Props {
  children?: React.ReactNode;
  dataTestId?: string;
}

export interface {{{ NAME.PASCAL }}}Props extends Use{{{ NAME.PASCAL }}}Props {
  //
}
